
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#job-button {
  margin-right: 5px;
  margin-bottom: 10px;
}

#skills-label {
  margin-top: 20px;
}

#skills-label-message {
  margin-left: 25px;
}
